td, th {
    padding: 10px;
}

.container {
    max-width: 1920px;
    width: 100%;
}

header {
    background-color: aqua;
    height: 50px;
}

#submit {
    margin-top: 20px;
    margin-left: 7.5%;
}

form > div {
    display: flex;
    align-items: center;
}

form > div > input {
    height: 40px;
}

form > div > p {
    height: 24px;
    margin-left: 1%;
    margin-top: 10px;
}

#post {
    margin-left: 64px;
}

#photoProfile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid gray;
}

.userData {
    position: fixed;
    margin-top: 60px;
}

.addPost{
    margin-top: 100px;
}

#comment{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#setMessage{
    opacity: 0;
    border-radius: 4px;
}

#setMessage > p{
    margin-top: 10px;
    margin-left: 4px;
}

#commentForm{
    display: flex;
}

#sendComment{
    font-size: 28px;
}

#writeComment{
    overflow: hidden;
    margin-top: 10px;
    margin-left: 6px;
    margin-bottom: 60px;
}

#writeComment > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#writeComment > div > p{
    width: 80%;
    word-wrap: break-word
}
